@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tlight W';
    src: url('../fonts/TitilliumWeb-Light.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tregular W';
    src: url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsemibold W';
    src: url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@media all and (max-width:575px) {

    /* Navigation 2 */
    .navigation-bar2 {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
    }

    .custom-col2 {
        padding: 0;
        margin: 0;
    }

    .custom-navlogo {
        width: 34px;
        height: 34px;
    }

    /* Navigation 2 */


}

@media all and (min-width:576px) and (max-width:767px) {}

@media all and (min-width:768px) and (max-width:991px) {}

@media all and (min-width:992px) and (max-width:1199px) {}

@media all and (min-width:1400px) {


    /* Navigation 2 */
    .navigation-bar2 {
        display: none;
    }

    /* Navigation 2 */



    /* Navigation 1 */

    .navigation-bar {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
    }

    .custom-col {
        padding: 0;
        margin: 0;
    }

    .custom-navlogo {
        width: 34px;
        height: 34px;
    }

    .custom-navul {
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #44d62c;
        box-sizing: border-box;
        background-color: #000000;
        list-style-type: none;

    }

    .custom-navul a {
        text-decoration: none;
        color: #888888;
        font-family: 'Tlight W', 'Titillium Web', sans-serif;
    }

    .custom-navul a:hover {
        color: #ffffff;
    }

    .custom-navul li {
        margin-right: 66px;
    }

    /* Navigation 1 */



}