@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tlight W';
    src: url('../fonts/TitilliumWeb-Light.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tregular W';
    src: url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tsemibold W';
    src: url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
        url('../fonts/TitilliumWeb-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url('../fonts/Heebo-Regular.woff2') format('woff2'),
        url('../fonts/Heebo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@media all and (max-width:575px) {


    /* 1.Question? why did this happen in the first place?!
    that it made the page to have a horizental scroll in smaller sizes "NOT Responsive" */
    body {
        overflow: hidden;
    }

    /* Navigation 1 */
    .navigation-bar {
        display: none;
    }

    /* Navigation 1 */


    /* Navigation 2 */
    .navigation-bar2 {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
    }

    .custom-col2 {
        padding: 0;
        margin: 0;
    }

    .custom-navlogo {
        width: 34px;
        height: 34px;
    }

    .custom-navul2 {
        width: 100%;
        height: 48px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0.8px solid #44d62c;
        box-sizing: border-box;
        background-color: #000000;
        list-style-type: none;
        font-size: 30px;

    }

    .custom-navul2 a {
        text-decoration: none;
        color: #888888;
        /* font-family: 'Tlight W', 'Titillium Web', sans-serif; */
    }


    /* 1.Question:problem */
    #menu-list2 {
        margin-left: 4%;
    }

    #cart-2 {
        font-size: 22px;
        margin-right: 3%;
    }

    #cart-2 a:hover {
        color: #ffffff;
    }


    /* Navigation 2 */

    /* Gray Box With Useless Content */

    .gray-box {
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        width: 100%;
        height: 44px;
        display: flex;
        /* position: relative; */
        /* top: 60px; */
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: sans-serif, 'Tregular W';
        background-color: #555555;
        color: #d9d9d9;

    }

    .gray-col {
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
    }

    .gray-box p {
        margin: 0;
    }


    /* Gray Box With Useless Content */

    /* First Picture */
    .first-picbox {
        padding: 0;
        margin: 0;
        outline: 0;
        width: 100%;
        height: 360px;
        /* background-color: pink; */
        background-image: url(../images/razer-pubg-homepage-mobile2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-piccol {
        padding: 0;
        margin: 0;
        outline: 0;
    }

    .first-picText {
        width: 100%;
        height: 140px;
        background-color: transparent;
        margin-top: 15vh;
        text-align: center;
        line-height: 35px;
    }

    .first-picText p {
        color: #ffffff;
        font-size: 7vh;
        font-family: 'Tsemibold W', 'sans-serif';
        font-weight: 600;
    }

    .first-picText span {
        color: #ffffff;
        font-size: 4vh;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
        font-weight: 400;
    }

    .first-picText a {
        color: #ffffff;
        font-size: 3.5vh;
        text-decoration: none;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .first-picText a span {
        font-size: 20px;
        color: #44d62c;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .first-picText a:hover {
        text-decoration: underline;
    }

    /* First Picture */



}

@media all and (min-width:576px) and (max-width:767px) {}

@media all and (min-width:768px) and (max-width:991px) {}

@media all and (min-width:992px) and (max-width:1199px) {}

@media all and (min-width:1400px) {


    /* Navigation 2 */
    .navigation-bar2 {
        display: none;
    }

    /* Navigation 2 */



    /* Navigation 1 */

    /* 4.Question:Why Doesn't It's Fixed Position Last After Scrolling for A While??? */

    .navigation-bar {
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        position: fixed;
        top: 0px;
        z-index: 2;
    }

    .custom-col {
        padding: 0;
        margin: 0;
    }

    .custom-navlogo {
        width: 34px;
        height: 34px;
    }

    .custom-navul {
        width: 100%;
        height: 60px;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 0.8px solid #44d62c;
        box-sizing: border-box;
        background-color: #000000;
        list-style-type: none;

    }

    .custom-navul a {
        text-decoration: none;
        color: #888888;
        font-family: 'Tlight W', 'Titillium Web', sans-serif;
    }

    .custom-navul a:hover {
        color: #ffffff;
    }

    .custom-navul li {
        margin-right: 66px;
    }

    #cart-1 {
        font-size: 21px;
        margin-right: 0;
    }


    /* Navigation 1 */

    /* Gray Box With Useless Content */

    /* 2.Question:why isn't it in the center even though ive written justify-content and align-items?    !SOLVED! */


    /* 3.Question:Why The Horizontal Scroll?!!! */

    .gray-box {
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
        width: 100%;
        height: 44px;
        display: flex;
        position: relative;
        top: 60px;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: sans-serif, 'Tregular W';
        background-color: #555555;
        color: #d9d9d9;

    }

    .gray-col {
        padding: 0;
        margin: 0;
        outline: 0;
        border: 0;
    }

    .gray-box p {
        margin: 0;
    }

    /* .gray-box a {
        text-decoration: none;
        color: #d9d9d9;
    } */

    /* .gray-box a:hover {
        text-decoration: underline;
    } */

    /* Gray Box With Useless Content */

    /* First Picture */
    .first-picbox {
        padding: 0;
        margin: 0;
        outline: 0;
        width: 100%;
        height: 700px;
        border-bottom: 10px solid #222222;
        /* background-color: pink; */
        background-image: url(../images/razer-pubg-homepage-desktop2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .first-piccol {
        padding: 0;
        margin: 0;
        outline: 0;
    }

    .first-picText {
        width: 810px;
        height: 140px;
        background-color: transparent;
        margin-top: 25vh;
        text-align: center;
        line-height: 35px;
    }

    .first-picText p {
        color: #ffffff;
        font-size: 56px;
        font-family: 'Tsemibold W', 'sans-serif';
        font-weight: 600;
    }

    .first-picText span {
        color: #ffffff;
        font-size: 28px;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
        font-weight: 400;
    }

    .first-picText a {
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .first-picText a span {
        font-size: 20px;
        color: #44d62c;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .first-picText a:hover {
        text-decoration: underline;
    }


    /* First Picture */


    /* Second Picture  */
    .second-picbox {
        padding: 0;
        margin: 0;
        outline: 0;
        width: 100%;
        height: 700px;
        border-bottom: 10px solid #222222;
        /* background-color: pink; */
        background-image: url(../images/cobra-pro-homepage-desktop2x.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .second-piccol {
        padding: 0;
        margin: 0;
        outline: 0;
    }

    .second-picText {
        width: 810px;
        height: 140px;
        background-color: transparent;
        margin-top: 15vh;
        text-align: center;
        line-height: 35px;
    }

    .second-picText p {
        color: #ffffff;
        font-size: 56px;
        font-family: 'Tsemibold W', 'sans-serif';
        font-weight: 600;
    }

    .second-picText span {
        color: #ffffff;
        font-size: 28px;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
        font-weight: 400;
    }

    .second-picText a {
        color: #ffffff;
        font-size: 21px;
        text-decoration: none;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .second-picText a span {
        font-size: 21px;
        color: #44d62c;
        font-family: 'Tlight W', 'Titillium Web', 'sans-serif';
    }

    .second-picText a:hover {
        text-decoration: underline;
    }

    .lm-custom {
        margin-right: 6vh;
    }

    /* Second Picture  */

}